{% extends "frame.html" %}
{% block head %}
    <script type="text/javascript">
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'time');
            {% for item in tag %}
                data.addColumn('number', '{{item}}');
            {% endfor %}

            {% for dataset in trend %}
                {% for dataitem in dataset %}
                    data.addRow([new Date{{dataitem[0]}}
                    {% for element in dataitem[1] %} 
                        {% if element == None %}  
                        , null
                        {% else %}
                        , {{ element }}
                        {% endif %}
                    {% endfor %} 
                    ]);
                {% endfor %}
            {% endfor %}
              
            var options = {
                chart: {
                    title: 'TEST MODE',
                }
            };
            var chart = new google.charts.Line(document.getElementById('linechart_material'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
{% endblock %}

{% block body %}
    <div id="linechart_material" style="width: 900px; height: 500px"></div>
{% endblock %}